<form action="/upload" method="POST" enctype="multipart/form-data" class="mt-4" id="form-file">
    <input id="foto" type="file" name="foto" />
    <input class="btn bg-light" type="submit" value="¡Subir imagen!" />
</form>