<div class="container row d-flex justify-content-center mt-5">
    <div class="col-12 text-center"><img src="/assets/img/nasa-logo.jpg" alt="" width="400px"></div>
    <div class="text-white col-12 text-center">{{despedida}}</div>
</div>