<!DOCTYPE html>
<html lang="en">
{{>Head
titulo = 'Evidencias'
}}

<body>
    {{>Saludo
        nombre='hola'
    }}
    {{>FormFile}}
    {{>Scripts
    filename = 'evidencias'
    }}
</body>

</html>