<!DOCTYPE html>
<html lang="en">
{{>Head
    titulo = 'Bienvenido a la nasa'
}}
<body>
    {{>NasaFront
        despedida = 'Muchas gracias por colaborar con nosotros, su planeta se lo agradece'
    }}
    {{>Scripts
        filename = 'nasa'
    }}
</body>
</html>